<h1> <%= @sub.title %> </h1>
<ul>
  <li> <%= @sub.description %>  </li>
  <li> <%= @sub.moderator.username %>  </li>
</ul>
<ul>
  <% @sub.posts.each do |post| %>
  <li> <a href="<%= post_url(post) %>"><%= post.title %> </a></li>
  <% end %>
</ul>

<h1>Create New Post</h1>
<form class="" action="<%= sub_posts_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label> Title
    <input type="text" name="post[title]" value="">
  </label>
  <label>URL
    <input type="text" name="post[url]" value="">
  </label>
  <label>Content
    <input type="text" name="post[content]" value="">
  </label>

  <div>Choose your Subs
    <% Sub.all.each do |sub| %>
    <label>
      <input type="checkbox" name="post[sub_ids][]"
      value="<%= sub.id %>" <%="checked" if @sub.id == sub.id%>>
      <%= sub.title %>
    </label>
    <% end %>
  </div>

  <input type="submit" name="" value="New Post">
</form>
